apiVersion: v1
kind: Secret
metadata:
  name: {{ template "fullname" . }}
  labels:
    draft: {{ default "draft-app" .Values.draft }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
type: Opaque
data:
  {{- (.Files.Glob "files/absences-management.keystore").AsSecrets | nindent 2 }}