
expose:
  enabled: false
  Annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-delete-policy: hook-succeeded
  config:
    exposer: Ingress
    http: false
    tlsacme: false

cleanup:
  enabled: false
  Args:
    - --cleanup
  Annotations:
    helm.sh/hook: pre-delete
    helm.sh/hook-delete-policy: hook-succeeded

preview:
  replicaCount: 1
  image:
    repository:
    tag:
    pullPolicy: Always

minio: 
  enabled: true
  clusterDomain: netd.io
  # TODO. Set up as k8s secret.
  accessKey: "ncstorageblobmanagement"
  secretKey: "sXQcRiyKCUFGTlsfqR4PSjIHK4PnFuNWnsiNNrheE4098HUWQDFI7TG+BGn23KLcZ31cVDvTwzMgkkJBL7SOGw=="

  image:
    pullPolicy: Always

  persistence:
    enabled: true
    size: 10Gi
  
  ingress:
    enabled: true
    annotations:    
      kubernetes.io/ingress.class: nginx
      kubernetes.io/tls-acme: "true"
      certmanager.k8s.io/issuer: letsencrypt-prod
      fabric8.io/generated-by: exposecontroller
      nginx.ingress.kubernetes.io/proxy-connect-timeout: "360"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "360"
      nginx.ingress.kubernetes.io/proxy-read-timeout: "360"
      nginx.ingress.kubernetes.io/proxy-next-upstream-timeout: "360"
      nginx.ingress.kubernetes.io/proxy-body-size: "0"

    hosts:
      - sommet-minio.netd.io
    tls:
    - secretName: sommet-minio-netd-tls
      hosts:
      - sommet-minio.netd.io
  resources:
    requests:
      memory: 512Mi
      cpu: 200m
    limits:
      memory: 1Gi
      cpu: 1

  defaultBucket:
    enabled: true
    name: sommet-develop

  networkPolicy:
    enabled: true
    allowExternal: true

  azuregateway:
    enabled: true
    replicas: 1

  environment:
    MINIO_BROWSER: "on"
    MINIO_DOMAIN: "sommet-minio.netd.io"

sommet-devtools:
  resources:
    limits:
      cpu: 200m
      memory: 512Mi
    requests:
      cpu: 50m
      memory: 128Mi