.fade-in-layout {
    animation: fade-in .2s linear;
    -webkit-animation: fade-in .2s linear;
    -moz-animation: fade-in .2s linear;
    -o-animation: fade-in .2s linear;
}

.fade-out-layout {
    
    animation: fade-out .2s linear;
    -webkit-animation: fade-out .2s linear;
    -moz-animation: fade-out .2s linear;
    -o-animation: fade-out .2s linear;
}

/* fade-out */
@keyframes fade-out {
    from { 
    	opacity: 0;
        visibility: hidden;
    }
    1% {
        visibility: visible;
    }
    to { 
    	opacity: 1;
    }
}

@-moz-keyframes fade-out {
    from { 
        opacity: 0;
        visibility: hidden;
    }
    1% {
        visibility: visible;
    }
    to { 
        opacity: 1;
    }
}

@-o-keyframes fade-out {
    from { 
        opacity: 0;
        visibility: hidden;
    }
    1% {
        visibility: visible;
    }
    to { 
        opacity: 1;
    }
}

@-webkit-keyframes fade-out {
    from { 
        opacity: 0;
        visibility: hidden;
    }
    1% {
        visibility: visible;
    }
    to { 
        opacity: 1;
    }
}

/* fade-in */
@keyframes fade-in {
    from { 
    	opacity: 1;
        visibility: visible;
    }
    to { 
    	opacity: 0;
        visibility: hidden;
    }
}

@-moz-keyframes fade-in {
    from { 
        opacity: 1;
        visibility: visible;
    }
    to { 
        opacity: 0;
        visibility: hidden;
    }
}

@-o-keyframes fade-in {
    from { 
        opacity: 1;
        visibility: visible;
    }
    to { 
        opacity: 0;
        visibility: hidden;
    }
}

@-webkit-keyframes fade-in {
   from { 
        opacity: 1;
        visibility: visible;
    }
    to { 
        opacity: 0;
        visibility: hidden;
    }
}