.flex1 {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.flex2 {
	-webkit-flex: 2;
	-ms-flex: 2;
	flex: 2;
}

.flex3 {
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
}

.flex4 {
	-webkit-flex: 4;
	-ms-flex: 4;
	flex: 4;
}

.ellipsis {
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
